---
import "../css/global.css"
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Media Agency</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@200;500;600&display=swap"
         rel="stylesheet"
      />
   </head>
   <body>
      <!-- Hero Section -->

      <section id="hero">
         <!-- Hero Container -->
         <div class="container mx-auto max-w-6xl px-6 py-12 md:px-0">
            <!-- Header -->
            <header class="flex items-center justify-between md:px-10">
               <!-- Logo -->

               <h1 class="font-notSans text-3xl text-[#FE0060] lg:text-4xl">
                  Ignite Studios
               </h1>

               <!-- Menu -->

               <nav
                  class="hidden h-10 font-notAlata font-semibold tracking-wide text-white md:flex md:items-center md:space-x-6 lg:space-x-8"
               >
                  <div class="group">
                     <a href="#">About</a>
                     <div
                        class="mx-2 group-hover:border-b-2 group-hover:border-b-[#FE0060]"
                     >
                     </div>
                  </div>
                  <div class="group">
                     <a href="#">Careers</a>
                     <div
                        class="mx-2 group-hover:border-b-2 group-hover:border-b-[#FE0060]"
                     >
                     </div>
                  </div>
                  <div class="group">
                     <a href="#">Events</a>
                     <div
                        class="mx-2 group-hover:border-b-2 group-hover:border-b-[#FE0060]"
                     >
                     </div>
                  </div>
                  <div class="group">
                     <a href="#">Products</a>
                     <div
                        class="mx-2 group-hover:border-b-2 group-hover:border-b-[#FE0060]"
                     >
                     </div>
                  </div>
                  <div class="group">
                     <a href="#">Support</a>
                     <div
                        class="mx-2 group-hover:border-b-2 group-hover:border-b-[#FE0060]"
                     >
                     </div>
                  </div>
               </nav>
               <!-- @todo Hamburger Button -->
            </header>
            <!-- @todo Mobile Menu -->
            <div
               class="my-32 max-w-md border-2 p-4 font-notAlata text-4xl font-light uppercase text-white md:mx-10 md:p-10 md:text-5xl"
            >
               Impressive experiences that deliver
            </div>
         </div>
      </section>

      <!-- Features Section -->

      <section id="features">
         <!-- Features Container -->

         <div
            class="container relative mx-auto my-32 flex max-w-6xl flex-col px-6 text-gray-900 md:flex-row md:px-0"
         >
            <img src="/images/desktop/image-interactive.jpg" alt="" />
         </div>
      </section>
   </body>
</html>
