@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
   background-image: url("/images/desktop/hero-desktop.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

@media (max-width: 576px) {
   #hero {
      background-image: url("/images/mobile/hero-mobile.jpg");
      background-position: center;
   }
}
